    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/posts">Blog-Post</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to "Signout", destroy_user_session_path, class: 'nav-item nav-link' %>
          <% else %>
            <%= link_to "SignIn", new_user_session_path, class: 'nav-item nav-link' %>
          <% end %>
        </div>
      </div>
    </nav>
